.cintaver:before {
    position:relative;
    top:150px;
    display:block;
    width:0;
    height:0;
    border-width: 75px;
    border-style:solid;
    border-color:#9A0808 #9A0808 transparent #9A0808;
    content:"";
    }